.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.auth-bg{
    background-image: url('../img/endless-constellation.svg');
}
.auth-cards{
    width: 50%;
    text-align: center;
}